// General
// ---------------------------------------------------------------------------------------------------------------------
@import "h5bp/normalize";
@import "h5bp/main";
@import "font";

html {
    min-height:100%;
    overflow-y:scroll;
}


// Typography
// ---------------------------------------------------------------------------------------------------------------------
body {
    color: #5a5a5a;
}

::-moz-selection {
    background: #b3d4fc;
}

::selection {
    background: #b3d4fc;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, "Times New Roman", serif;
    line-height: 1.25em;
    font-weight: normal;
}

blockquote {
    margin-left: 0;
    padding-left: 1em;
    color: #999;
    border-left: 5px solid #ddd;
}

a {
    color: darken(darkorange, 5%);

    &:hover {
        color: darken(darkorange, 10%);
    }
}

.big { font-size: 1.25em; }
.bigger { font-size: 1.5em; }
.biggest { font-size: 1.875em; }

.highlight pre, code {
    font-size: 0.875em;
    line-height: 1em;
    white-space: pre;
    word-wrap: normal;
}


// Layout
// ---------------------------------------------------------------------------------------------------------------------
.container {
    max-width: 45em;
    margin: 0 auto;
    padding: 1.618em;
}

// Menu
.page-header,
.post-header {
    background: darkorange url('../img/header-leaves-mini.jpg') center top no-repeat;
    color: #fff;
    text-align: center;
}

.page-header a {
    color: #fff;
    font-weight: bold;
}

header .container:before,
header .container:after {
    content: " ";
    display: table;
}

header .container:after {
    clear: both;
}

header .container {
    *zoom: 1;
}

.list-unstyled {
    padding-left: 0;
    list-style-type: none;
}

.list-inline {
    li {
        display: inline;
    }
}

.header-links {
    margin: 0 auto;

    a {
        font-family: Georgia, "Times New Roman", serif;
        font-size: 1.2em;
        color: #fff;
        text-decoration: none;
    }
}

footer {
    text-align: center;
}

.footer-links {
    a {
        color: #aaa;
        text-decoration: none;

        &:hover {
            color: #777;
        }
    }
}

// Posts
.posts {
    padding-left: 0;
    list-style-type: none;

    li {
        margin-bottom: 1em;
        padding-bottom: 1em;
        border-bottom: 1px solid #eee;

        &:last-of-type {
            border: 0;
        }
    }
}

.post-time{
    font-size: 0.8em;
    color: #aaa;
}

li .post-comments {
  font-size: 0.8em;
  color: #aaa;
}

article .post-comments {
  margin-top: 3em;
}

.post-title {
    margin: 0 0 0.2em;

    a {
        text-decoration: none;
    }
}

.post-meta {
    margin: 0;
}

// Pagination
.pagination {
    text-align: center;
}


// Responsive stuff
// ---------------------------------------------------------------------------------------------------------------------
@media only screen and (min-width: 40em) { // ~640px
    body { font-size: 105%; }
    .page-header,
    .post-header {
        background-image: url('../img/header-leaves-small.jpg');
    }   

    .post-header .container {
        -webkit-animation: slideDown .5s ease-in-out
    }
}

@media only screen and (min-width: 62.5em) { // ~1000px
    body { font-size: 112.5%; }
    .page-header,
    .post-header {
        background-image: url('../img/header-leaves.jpg');
    }   
}

@media only screen and (min-width: 75em) { // ~1200px
    body { font-size: 125%; }
}


// Animations
// ---------------------------------------------------------------------------------------------------------------------
@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
        opacity: 1;
    }
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(20px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
        opacity: 1;
    }
}