// General
// ---------------------------------------------------------------------------------------------------------------------
@import "h5bp/normalize";
@import "h5bp/main";
@import "font";

html {
    min-height:100%;
    overflow-y:scroll;
}


// Typography
// ---------------------------------------------------------------------------------------------------------------------
body {
    color: #5a5a5a;
}

::-moz-selection {
    background: #b3d4fc;
}

::selection {
    background: #b3d4fc;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, "Times New Roman", serif;
    line-height: 1.25em;
    font-weight: normal;
}

a {
    color: darkorange;

    &:hover {
        color: darken(darkorange, 10%);
    }
}

.big { font-size: 1.25em; }
.bigger { font-size: 1.5em; }
.biggest { font-size: 1.875em; }


// Layout
// ---------------------------------------------------------------------------------------------------------------------
.container {
    max-width: 45em;
    margin: 0 auto;
    padding: 1.618em;
}

// Menu
header {
    text-align: center;
}

.list-unstyled {
    padding-left: 0;
    list-style-type: none;
}

.list-inline {
    li {
        display: inline;
    }
}

.header-links {
    margin: 1.618em auto 0;

    a {
        font-family: Georgia, "Times New Roman", serif;
        font-size: 1.2em;
        color: #999;
        text-decoration: none;
    }
}

footer {
    text-align: center;
}

.footer-links {
    a {
        color: #aaa;
        text-decoration: none;

        &:hover {
            color: #777;
        }
    }
}

// Posts
.posts {
    padding-left: 0;
    list-style-type: none;

    li {
        margin-bottom: 1em;
        padding-bottom: 1em;
        border-bottom: 1px solid #eee;

        &:last-of-type {
            border: 0;
        }
    }
}

.post-time{
    font-size: 0.8em;
    color: #aaa;
}

li .post-comments {
  font-size: 0.8em;
  color: #aaa;
}

article .post-comments {
  margin-top: 3em;
}

.post-title {
    margin: 0 0 0.2em;

    a {
        text-decoration: none;
    }
}

.post-meta {
    margin: 0;
}


// Responsive stuff
// ---------------------------------------------------------------------------------------------------------------------
@media only screen and (min-width: 40em) { // ~640px
    body { font-size: 105%; }
}
@media only screen and (min-width: 62.5em) { // ~1000px
    body { font-size: 112.5%; }
}
@media only screen and (min-width: 75em) { // ~1200px
    body { font-size: 125%; }
}