// based on : https://github.com/AndrewKvalheim/Andrew.Kvalhe.im/blob/master/public/stylesheets/pygments-monokai.scss

// Color names
$black: #272822;
$medgray: #75715e;
$white: #f8f8f2;
$magenta: #960050;
$darkmagenta: #1e0010;
$blue: #66d9ef;
$purple: #ae81ff;
$pink: #f92672;
$yellow: #e6db74;
$green: #a6e22e;
$orange: #fd971f;

div.highlight {
    background-color: $black;
    overflow-x: auto;
    border-radius: 5px;
    pre {
        padding: 0 1em;
    }
}

div.highlight::-webkit-scrollbar {
    height: 10px;
}

div.highlight::-webkit-scrollbar-track:enabled {
    background-color: transparent;
    -webkit-border-radius: 5px;
}

div.highlight::-webkit-scrollbar-thumb:horizontal {
    background-color: $medgray;
    -webkit-border-radius: 5px;
}

.hll { background-color: $black }
.c { color: $medgray } /* Comment */
.err { color: $magenta; background-color: $darkmagenta } /* Error */
.k { color: $pink } /* Keyword */
.l { color: $purple } /* Literal */
.n, .l-Scalar-Plain { color: $white } /* Name */
.o { color: $pink } /* Operator */
.p { color: $white } /* Punctuation */
.cm { color: $medgray } /* Comment.Multiline */
.cp { color: $medgray } /* Comment.Preproc */
.c1 { color: $medgray } /* Comment.Single */
.cs { color: $medgray } /* Comment.Special */
.ge { font-style: italic } /* Generic.Emph */
.gs { font-weight: bold } /* Generic.Strong */
.kc { color: $blue } /* Keyword.Constant */
.kd { color: $blue } /* Keyword.Declaration */
.kn { color: $pink } /* Keyword.Namespace */
.kp { color: $purple } /* Keyword.Pseudo */
.kr { color: $blue } /* Keyword.Reserved */
.kt { color: $blue } /* Keyword.Type */
.ld { color: $yellow } /* Literal.Date */
.m { color: $purple } /* Literal.Number */
.s { color: $yellow } /* Literal.String */
.na { color: $green } /* Name.Attribute */
.nb { color: $white } /* Name.Builtin */
.nc { color: $green } /* Name.Class */
.no { color: $blue } /* Name.Constant */
.nd { color: $green } /* Name.Decorator */
.ni { color: $white } /* Name.Entity */
.ne { color: $green } /* Name.Exception */
.nf { color: $green } /* Name.Function */
.nl { color: $white } /* Name.Label */
.nn { color: $white } /* Name.Namespace */
.nx { color: $green } /* Name.Other */
.py { color: $white } /* Name.Property */
.nt { color: $pink } /* Name.Tag */
.nv { color: $white } /* Name.Variable */
.ow { color: $pink } /* Operator.Word */
.w { color: $white } /* Text.Whitespace */
.mf { color: $purple } /* Literal.Number.Float */
.mh { color: $purple } /* Literal.Number.Hex */
.mi { color: $purple } /* Literal.Number.Integer */
.mo { color: $purple } /* Literal.Number.Oct */
.sb { color: $yellow } /* Literal.String.Backtick */
.sc { color: $yellow } /* Literal.String.Char */
.sd { color: $yellow } /* Literal.String.Doc */
.s2 { color: $yellow } /* Literal.String.Double */
.se { color: $purple } /* Literal.String.Escape */
.sh { color: $yellow } /* Literal.String.Heredoc */
.si { color: $yellow } /* Literal.String.Interpol */
.sx { color: $yellow } /* Literal.String.Other */
.sr { color: $yellow } /* Literal.String.Regex */
.s1 { color: $yellow } /* Literal.String.Single */
.ss { color: $purple } /* Literal.String.Symbol */
.bp { color: $white } /* Name.Builtin.Pseudo */
.vc { color: $white } /* Name.Variable.Class */
.vg { color: $white } /* Name.Variable.Global */
.vi { color: $white } /* Name.Variable.Instance */
.il { color: $purple } /* Literal.Number.Integer.Long */