{% if site.social.disqus %}
    <div id="disqus_thread" class="post-comments"></div>

    <script type="text/javascript">
        var disqus_shortname = '{{ site.social.disqus }}';
        (function () {
            var s = document.createElement('script');
            s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(s);
        }());
    </script>
{% endif %}
