<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="have-i-been-pwned-verification" value="8b6f3354b00cbe1732798b3bdccf8a92">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.title %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/atom.xml" | prepend: site.baseurl | prepend: site.url }}">

    <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
    <!--[if IE 8]><link rel="stylesheet" href="{{ "/assets/css/ie.css" | prepend: site.baseurl }}"><![endif]-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/1.0.1/anchor.min.css">
    <style>
        .anchorjs-link {
            transition: all .25s linear;
        }
        .anchorjs-link:link, .anchorjs-link:visited {
            color: #2E8B57;
        }
        .anchorjs-link:hover {
            color: #1B5233;
        }
        *:hover > .anchorjs-link {
            margin-left: -1.125em !important;
        }
    </style>

    {% if page.canonical %}
        <link rel="canonical" href="{{ page.canonical }}">
    {% else %}
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}

    <link rel="author" href="humans.txt">

    <link rel="serviceworker" href="/serviceworker.js">

    <script src="{{ "/assets/js/modernizr.custom.15390.js" | prepend: site.baseurl }}" type="text/javascript"></script>
</head>
