{% extends "base.html" %}

{% block content %}
<div class="home" id="home">
    <h1 class="pageTitle">Recent Posts</h1>

    <ul class="posts noList">
        {% set blog_section = get_section(path="blog/_index.md") %}
        {% for page in blog_section.pages | slice(end=5) %}
            <li>
                <span class="date">{{ page.date | date(format="%B %d, %Y") }}</span>
                <h3><a class="post-link" href="{{ page.permalink | trim_end_matches(pat="/") }}">{{ page.title }}</a></h3>
                <p class="description">{% if page.description %}{{ page.description | striptags | truncate(length=250) }}{% else %}{{ page.content | striptags | truncate(length=250) }}{% endif %}</p>
            </li>
        {% endfor %}
    </ul>

    <!-- Link to all articles -->
    <div class="pagination">
        <a href="/articles" class="next button__outline">All Articles</a>
    </div>
</div>
{% endblock content %}
