<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0">

        <title>{{ page.title }}</title>

        <link rel=stylesheet href="/css/styles.css">
    </head>
    <body>

        {% if page.url != '/index.html' %}
        <header>
            <ul class="header-links list-unstyled">
                <li><a href="/">Accueil</a></li>
            </ul>
        </header>
        {% endif %}

        <div class="container">
            {{ content }}
        </div>

        <footer>
            <ul class="footer-links list-unstyled list-inline">
                <li><a href="https://twitter.com/maaube"><i class="icon-twitter"></i></a></li>
                <li><a href="https://github.com/marcaube"><i class="icon-github"></i></a></li>
            </ul>
        </footer>
    </body>
</html>